@import '../../../styles/settings.scss';

// .root {
// }
  
.paperStyle {
    padding: 20px;
    height: '70vh';
    width: 400px;
    margin: 20px auto;
    font-family: $font-family;
}

.avatarStyle {
    background-color: #2B4C6F
}
